<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <h1 class="tittle">Fruits Database</h1>
    <div class="all">
        <form class="form">
            <p>Insert the name and price of the fruit that you want to save or delete from the database.</p>
                <input class="input" type="text" placeholder="Fruit">
                <input class="input" type="text" placeholder="Price">
                <button class="button">Save</button>
                <img class="image" src="https://images.vexels.com/media/users/3/185260/isolated/preview/f2b5568bbcd5c2352a4a25c41fe194fb-plano-de-fruta-de-pi-ntilde-a-by-vexels.png" alt="">
        </form>

    </div>
        
        
    


    
</body>
</html>