<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datails</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="formm">
        <h1 class="titlee">Description</h1>
        <div class="informationn">
            <p class="namee"> Name :</p>
            <p class="nameFruitt">Apple</p>
            <p class="pricee">Price :</p>
            <p class="priceFruitt">5</p>
            <button class="buttonn">Update</button>
            <button class="buttonn">Delete</button>
        </div>
    </div>
    
</body>
</html>