.particularCard{
display: grid;
justify-content: center;
width: 230px;
height: 300px;
border: 5px solid rgb(218, 141, 113);
border-radius: 5px;
}

.informationn{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2, 50%);
    font-size: x-large;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(218, 141, 113);
}

.titlee{
    font-family: 'Fjalla One', sans-serif;
    color: rgb(221, 127, 92);
    }

.buttonn{
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: coral;
    color: ivory;
    font-size: medium;
}

.formm{
    display: grid;
    grid-template-columns: repeat(5, 20%);
}